<section>
    <div class="container mt-5">
        <div class="row ">
            {{#each products}}

            <div class="col-sm-6 col-md-3 mb-3 text-center h-50" >
                <div class="card mb-2 h-100">
                    <img src="/product-images/{{this._id}}.jpg" class="card-img-top" alt="...">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">{{this.Name}}</h5>
                        <p class="card-text"><b> Rs.{{this.Price}}</b> <br> {{this.Description}}</p>
                        <button onclick="addToCart('{{this._id}}')" class="mt-auto btn btn-primary">Add to cart</button>
                    </div>
                </div>
            </div>

            {{/each}}

        </div>
        </div>
    </div>
</section>

<script>
    
</script>